{% extends "base.html" %}

{% block content %}
<h1 class="display-4 mb-5">{{ section.title}}</h1>
{% for page in section.pages %}
<div class="card mb-4">
    <div class="card-header">
        <b>{{ page.title }}</b>
        {% if page.extra.employment %}
        <span class="badge rounded-pill text-light bg-dark">{{ page.extra.employment }}</span>
        {% endif %}<br />
        <span>{{ page.extra.company }}</span><br />
        <small>{{ page.extra.from }} - {{ page.extra.until }}</small><br />
        <small>{{ page.extra.location }}</small>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ page.extra.description }}
        </p>
    </div>
    <div class="card-footer">
        {% if page.extra.skills %}
        {% for item in page.extra.skills %}
        <span class="badge rounded-pill text-light bg-dark">{{ item }}</span>
        {% endfor %}
        {% endif %}
        {% if page.extra.technologies %}
        {% for item in page.extra.technologies %}
        <span class="badge rounded-pill text-light bg-secondary">{{ item }}</span>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock content %}
