{% extends "base.html" %}

{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="hero.jpg" class="d-block mx-lg-auto img-fluid rounded-circle" width="500" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello, me be Thomas</h1>
        <p class="lead">
            I seek answers to the task of freeing and evolving the human mind by engaging in both
            spiritually and technologically enriching pursuits.
            As an automation specialist my goal is to maximize the amount of work not done by humans.
        </p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/templates/gallery" class="btn btn-dark btn-lg px-4 me-md-2">Hire me</a>
            <a href="/templates/upload" class="btn btn-outline-secondary btn-lg px-4">Upload Your Own</a>
        </div> -->
    </div>
</div>
<h2 class="fw-bold mt-5 pt-5">Choose a Path</h2>
<p class="my-3" style="width: 30rem;">
    Evolving the humand mind is possible through choosing one of the presented paths.
    It's also possible to combine both paths.
</p>
<div class="row flex-lg-row align-items-center py-5">
    <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="spirituality.png" class="card-img-top"
                alt="A human monk in white clothes with blue glowing eyes sitting in the lotus flower position inside the forest">
            <div class="card-body">
                <h5 class="card-title">Path of Spirituality</h5>
                <p class="card-text">Connecting to your inner self will grant you limitless potential.</p>
                <a href="#" class="btn btn-dark">Discover Spirituality</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="technocracy.png" class="card-img-top"
                alt="A human monk in white clothes with blue glowing eyes sitting in the lotus flower position inside the forest">
            <div class="card-body">
                <h5 class="card-title">Path of Technocracy</h5>
                <p class="card-text">Becoming one with the machine will grant you limitless efficiency.</p>
                <a href="#" class="btn btn-dark">Discover Technocracy</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
